.Pagination {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.Pagination-list {
    display: flex;
    flex-direction: row;
}

.Pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 20px;
    height: 20px;
    user-select: none;
    cursor: pointer;
}

.Pagination-item:hover {
    color: #000;
    background-color: #E1E1E1;
}

.select {
    color: #fff;
    background-color: #0087E9;
}