.ProfileTool {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #DCDCDC;
}

.ProfileTool-title {
    color: #0087E9;
    margin-right: 20px;
}
